- job_name: 'node-app'
  kubernetes_sd_configs:
  - role: endpoints
    namespaces:
      names:
      - staging
  relabel_configs:
  - source_labels: [__meta_kubernetes_service_name]
    action: keep
    regex: node-app-service
  - source_labels: [__meta_kubernetes_endpoint_port_name]
    action: keep
    regex: http
  - source_labels: [__meta_kubernetes_namespace]
    target_label: namespace
  - source_labels: [__meta_kubernetes_pod_name]
    target_label: pod