apiVersion: v1
kind: Service
metadata:
  name: node-app-service
  namespace: staging
  labels:
    app: node-app
spec:
  type: NodePort
  selector:
    app: node-app
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 31689